
#book_card {
	padding:30px 0px;
}

#article {
	padding:50px 0px 100px;
	min-height: 200px;
	background-image: url("../images/landingImage1.jpg");
	background-position: center;
	background-size: cover;
}


#book_descr {
	min-height: 300px;
}

.isbn {
	text-align:right;
	color:white;
	width: 66%;
}