.frosty-bg{
    background-color: rgb(223, 223, 223);
}
#small-prof-pic {
    border-radius: 25px;
    height: 100px;
    margin-top: -10px;
    margin-left: -10px;
    box-shadow: 7px 7px 10px rgb(78, 78, 78);
}
#preview-patron-row p{
    margin: 5px;
}
#preview-patron-info-card{
    background-color: white;
    max-height: 110px;
}
#preview-patron-card-row{
    margin-top: 5px;
    background: transparent;
}
.frozen-overlay {
	outline: 2px solid red;
}