/***company colors to add or copy/past from***/

/* black */
.ssp-xiketic{
    background-color: #0E1122;
}


.ssp-caribean-green{
    background-color: #06D6A0;
}
.ssp-blue-munsell{
    color: #1B9AAA;
}
.ssp-paradise-pink{
    color: #EF476F;
}
.ssp-orange-yellow{
    color:#FFC43D
}
.ssp-princton-orange{
    color:#E77728;
}
.ssp-prersian-orange{
    color:#ED975A;
}
.ssp-light-text{
    color: #e2e2e2;
}
.ssp-faded-text{
    color: rgb(170, 170, 170);
}