<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Library Manager</display-name>
	<servlet>
		<servlet-name>LibrarianServices</servlet-name>
		<display-name>LibrarianServices</display-name>
		<description></description>
		<servlet-class>com.cognixia.jump.library.servlets.LibrarianServices</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LibrarianServlet</servlet-name>
		<display-name>LibrarianServlet</display-name>
		<description></description>
		<servlet-class>com.cognixia.jump.library.servlets.LibrarianServlet</servlet-class>
	</servlet>
	<servlet>

		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>com.cognixia.jump.library.servlets.Login</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BookCheckout</servlet-name>
		<display-name>BookCheckout</display-name>
		<description></description>
		<servlet-class>com.cognixia.jump.library.servlets.BookCheckout</servlet-class>
	</servlet>

	
	<servlet>
		<servlet-name>PatronsServlet</servlet-name>
		<display-name>PatronsServlet</display-name>
		<description></description>
		<servlet-class>com.cognixia.jump.library.servlets.PatronsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>com.cognixia.jump.library.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OneBook</servlet-name>
		<display-name>OneBook</display-name>
		<description></description>
		<servlet-class>com.cognixia.jump.library.servlets.OneBook</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SingleBook</servlet-name>
		<display-name>SingleBook</display-name>
		<description></description>
		<servlet-class>com.cognixia.jump.library.servlets.SingleBook</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckoutBookServlet</servlet-name>
		<display-name>CheckoutBookServlet</display-name>
		<description></description>
		<servlet-class>com.cognixia.jump.library.servlets.CheckoutBookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RetrunBookServlet</servlet-name>
		<display-name>RetrunBookServlet</display-name>
		<description></description>
		<servlet-class>com.cognixia.jump.library.servlets.RetrunBookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AccountFreezer</servlet-name>
		<display-name>AccountFreezer</display-name>
		<description></description>
		<servlet-class>com.cognixia.jump.library.servlets.AccountFreezer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditBook</servlet-name>
		<display-name>EditBook</display-name>
		<description></description>
		<servlet-class>com.cognixia.jump.library.servlets.EditBook</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>LibrarianServices</servlet-name>
		<url-pattern>/LibrarianServices</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LibrarianServlet</servlet-name>
		<url-pattern>/LibrarianServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookCheckout</servlet-name>
		<url-pattern>/BookCheckout</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OneBook</servlet-name>
		<url-pattern>/OneBook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SingleBook</servlet-name>
		<url-pattern>/SingleBook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckoutBookServlet</servlet-name>
		<url-pattern>/CheckoutBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetrunBookServlet</servlet-name>
		<url-pattern>/RetrunBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountFreezer</servlet-name>
		<url-pattern>/AccountFreezer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditBook</servlet-name>
		<url-pattern>/EditBook</url-pattern>
	</servlet-mapping>

</web-app>
